@model IEnumerable<ASM.Models.Donhang>

@{
    //ViewData["Title"] = "History";
    Layout = "~/Views/Shared/_WebLayout.cshtml";
}

<h1>Đơn Hàng</h1>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ngaydat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tongtien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.trangThaiDonHang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ghichu)
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.khachhang)*@ Khách Hàng
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ngaydat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tongtien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.trangThaiDonHang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ghichu)
            </td>
            <td>
                Email: @Html.DisplayFor(modelItem => item.khachhang.EmailAddress)<br />
                SĐT  :@Html.DisplayFor(modelItem => item.khachhang.PhoneNumber)
            </td>
            <td>
                @*<a asp-action="Edit" asp-route-id="@item.DonhangID">Edit</a> |*@  
                <a asp-action="Details" asp-route-id="@item.DonhangID">Chi tiết</a> @*|
                <a asp-action="Delete" asp-route-id="@item.DonhangID">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    @*<a asp-action="Edit" asp-route-id="@Model.DonhangID">Edit</a> |*@
    <a asp-action="Index">Quay Lại</a>
</div>
