@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<ASM.Models.DonhangChitiet>
@*<p>
        <a asp-action="Create">Create New</a>
    </p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.MonAn.Name)*@ Tên Món
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.MonAn.Hinh)*@ Hình
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Soluong)*@ Số Lượng
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Thanhtien)*@ Thành Tiền
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Ghichu)*@ Ghi Chú
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.Donhang)
                </th>*@
            @*<th></th>*@
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MonAn.Name)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.MonAn.Name)*@
                    <img src="~/images/monan/@item.MonAn.Hinh" style="width:150px" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Soluong)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Thanhtien)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ghichu)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Donhang.DonhangID)
                    </td>*@

                @*<td>
                        <a asp-action="Edit" asp-route-id="@item.ChitietID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ChitietID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ChitietID">Delete</a>
                    </td>*@
            </tr>
        }
    </tbody>
</table>

